<template>
  <div class="shopping-cart-single">
    <div class="row">
      <div class="col-lg-2">
        <img :src="`http://localhost:4200${product.image}`" alt="">
      </div>
      <div class="col-lg-10 my-auto">
        <div class="d-flex justify-content-between cart-title">
          <h6>{{ product.name }}</h6>
          <a href="#" @click="removeProduct(product.productId)"><i class="fal fa-times"></i></a>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <div class="cart-price my-auto">
            {{ product.price }}₽ x {{ product.quantity }} <b>{{ product.quantity * product.price }}₽</b>
          </div>
          <div class="row g-0 cart-qty">
            <div class="col-auto">
              <button type="button" class="minus cat-qty-btn" @click="MinusQuantityProduct(product)"> <i class="fal fa-minus "></i></button>
            </div>
            <div class="col-auto">
              <input type="text" name="quant[1]" class="input-number" readonly="" data-min="1" data-max="1000"
                :value="product.quantity">
            </div>
            <div class="col-auto">
              <button type="button" class="plus cat-qty-btn" @click="addInCart(product)"><i class="fal fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { IProductsCart } from "@/models"
import { useCartStore } from '@/store/cart'

const props = defineProps({
  product: {
    type: Object as () => IProductsCart,
    required: true,
  },
})

const cartStore = useCartStore()

const quantityTotal = computed(() => cartStore.getQuantityTotal)
const priceTotal = computed(() => cartStore.getTotal)

const removeProduct = (productId: number) => {
  cartStore.removeFromCart(productId)
}

const addInCart = (product: IProductsCart) => {
  cartStore.addInCart(product)
}

const MinusQuantityProduct = (product: IProductsCart) => {
  cartStore.MinusQuantityProduct(product)
}
</script>