<template>
  <nuxt-layout name="admin">
    <div class="account-content bg-white pt-0">
      <h4 class="account-content-title">
        <i class="far fa-layer-group"></i> Редактировать
      </h4>
      <div class="edit-profile">
        <q-form>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="name" class="form-label">Название</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="category" class="form-label">Категория</label>
                <q-select standout="bg-white text-dark" v-model="model" :options="['asd']" label="Выберите категорию" dropdown-icon="far fa-caret-down" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="price" class="form-label">Discount Price</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="thumnail" class="form-label">Thumnail</label>
                <input type="file" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="moreimage" class="form-label">More Image</label>
                <input type="file" />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                  class="form-control"
                
                  rows="6"
                ></textarea>
              </div>
            </div>
          </div>
          <button class="btn">Создать товар</button>
        </q-form>
      </div>
    </div>
  </nuxt-layout>
</template>

<script setup lang="ts">
import { ref } from 'vue'

const model = ref()
</script>