<template>
  <nuxt-layout name="admin">
    <div class="account-content bg-white pt-0">
      <h4 class="account-content-title">
        <i class="far fa-layer-group"></i> Добавить товар
      </h4>
      <div class="edit-profile">
        <q-form @submit="create">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="name" class="form-label">Название</label>
                <input type="text" class="form-control" v-model="formData.name" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="category" class="form-label">Категория</label>

                <q-select 
                  standout="bg-white text-dark" 
                  v-model="formData.category_id" 
                  :options="categories || []" 
                  label="Выберите категорию" 
                  dropdown-icon="far fa-caret-down"
                  emit-value
                  map-option
       
                  option-label="name"
                />
              </div>
            </div>
            <!-- <div class="col-lg-6">
              <div class="mb-3">
                <label for="stock" class="form-label">Атрибуты</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="tags" class="form-label">Теги</label>
                <input type="text" class="form-control" />
              </div>
            </div> -->
            <div class="col-lg-12">
              <div class="mb-3">
                <label for="price" class="form-label">Стоимость</label>
                <input type="number" class="form-control" v-model="formData.price" />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Главное изображение</label>
                <q-uploader
                  @added="uploadImage"
                  @rejected="checkFileSize"
                  max-file-size="1048000"
                  accept="image/jpeg, image/png, image/gif, image/bmp"
                  style="width: 100%;"
                />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Галерея изображений</label>
                <q-uploader
                  @added="uploadImages"
                  @rejected="checkFileSize"
                  max-file-size="1048000"
                  accept="image/jpeg, image/png, image/gif, image/bmp"
                  multiple
                  style="width: 100%;"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div class="mb-3">
                <label for="description" class="form-label">Описание</label>
                <textarea
                  class="form-control"
                  v-model="formData.description"
                  rows="6"
                ></textarea>
              </div>
            </div>
          </div>
          <button class="btn" type="submit">Добавтиь товар</button>
        </q-form>
      </div>
    </div>
  </nuxt-layout>
</template>

<script setup lang="ts">
import { ref, Ref, onMounted } from 'vue'
import { IProductFrom } from '@/types/ProductModel'
import { IProduct, ICategory, IErrorImage } from "@/models"
import { productApi } from '@/api/product'
import { categoryApi } from '@/api/category'
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'

const router = useRouter()

definePageMeta({
  middleware: ["auth"]
})

const $q = useQuasar()

const formData: Ref<IProductFrom> = ref({
  name: null,
  description: null,
  category_id: null,
  price: null,
})

const image: any = ref(null)
const uploadImage = (files: any) => {
  image.value = files[0]
}

const images: any = ref(null)
const uploadImages = (files: any) => {
  images.value = files
}

const checkFileSize = (rejectedEntries: IErrorImage[]) => {
  console.log(rejectedEntries)

  rejectedEntries.forEach((err) => {
    if (err.failedPropValidation === 'max-file-size') {
      $q.notify({
        color: 'negative',
        message: 'Размер файла не должен превышать 1 Mегабайт',
      })
    }
  })
}

const categories: Ref<ICategory[]> = ref([])

const model = ref()

  const getCategories = async () => {
  try {
    const resp = await categoryApi.getAll()
    categories.value = resp
  } catch (err) {
    console.log(err)
  }
}

const create = async () => {
  try {
    const resp = await productApi.create(formData.value, image.value, images.value)
    router.push('/admin/categories')
    $q.notify({
      color: 'positive',
      message: 'Продукт добавлен',
    })
  } catch (err) {
    console.log(err)
    $q.notify({
      color: 'negative',
      message: 'Произошла ошибка или такой продукт уже существует',
    })
  }
}

onMounted(() => {
  getCategories()
})
</script>