<template>
  <nuxt-layout name="admin">
    <div class="account-content">
      <div class="head max-content justify-center">
        <h4 class="account-content-title mb-none">
          <i class="far fa-map-marker-alt"></i> Продукция
        </h4>
        <NuxtLink to="/admin/products/create" class="btn show-brand-btn mt-none ml-auto">
          Добавить новый
        </NuxtLink>
      </div>
      <div class="account-content-table">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>Картинка</th>
                <th>Имя</th>
                <th>Цена</th>
                <th></th>
              </tr>
              <tr 
                v-for="product in products"
                :key="product.id || 'default-key'"
                class="account-order-list"
              >
                <td class="product-img">
                  <img :src="`http://localhost:4200${product.images[0]}`" alt="" />
                </td>
                <td><div class="product-info">{{ product.name }}</div></td>
                <td><div class="product-info">{{ product.price }}₽</div></td>
                <td>
                  <div class="product-info">
                    <q-btn to="/admin/products/23" flat padding="0" class="content-action content-action-mr">
                      <i class="far fa-pen"></i>
                    </q-btn>
                    <q-btn flat padding="0" class="content-action">
                      <i class="far fa-trash"></i>
                    </q-btn>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-12">
          <q-pagination
            v-model="pagination.page"
            :max="maxPage"
            direction-links
            @update:model-value="getProducts"
          />
        </div>
        
      </div>
    </div>
  </nuxt-layout>
</template>

<script setup lang="ts">
definePageMeta({
  middleware: ["auth"]
})
import { ref, onMounted, computed } from 'vue'
import { IProduct, IPagination, IQuery } from '@/models'
import { productApi } from '@/api/product'

const pagination: Ref<IPagination> = ref({
  page: 1,
  perPage: 10,
})

const queryParameters: IQuery = {
  sort: '',
  categoryId: null,
  min: null,
  max: null,
  searchTerm: null
}

const length: Ref<number> = ref(1)
const products = ref<IProduct[]>([])

const maxPage = computed(() => {
  const quantity = length.value / pagination.value.perPage
  return Math.ceil(quantity)
})

const getProducts = async () => {
  try {
    const data = await productApi.get(pagination.value, queryParameters)
    products.value = data.products
    length.value = data.length
  } catch (err) {
    console.log(err)
  }
}

const delProduct = (id: number) => {

}

onMounted(async () => {
  getProducts()
})

</script>