<template>
  <nuxt-layout name="main">
    <BreadCrumbs />

    <section class="shop single section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-5 col-12">
                <!-- <SliderFoto
                  :images="[product?.image, product?.gallery]"
                  v-if="product?.gallery"
                /> -->
                <SliderFoto
                  :images="[product?.images]"
                  v-if="product?.images"
                />
              </div>
              <div class="col-lg-7 col-12">
                <div class="product-des">
                  <div class="short">
                    <h4>{{ product?.name }}</h4>
                    <p class="price">
                      <span class="discount">{{ product?.price }} ₽ублей</span>
                    </p>
                    <p class="description">
                      {{ product?.description }}
                    </p>
                  </div>

                  <div class="product-buy">
                    <!-- <div class="quantity">
                      <div class="input-group">
                        <div class="button minus">
                          <button
                            type="button"
                            class="btn btn-primary btn-number"
                            data-type="minus"
                          >
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                        <input
                          type="text"
                          name="quant[1]"
                          class="input-number"
                          data-min="1"
                          data-max="1000"
                          value="1"
                        />
                        <div class="button plus">
                          <button
                            type="button"
                            class="btn btn-primary btn-number"
                            data-type="plus"
                          >
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                      </div>
                    </div> -->
                    <div class="add-to-cart">
                      <q-btn flat class="btn" @click="addInCart">Добавить в корзину</q-btn>
                      <q-btn flat class="btn min">
                        <div><i class="far fa-heart"></i></div>
                      </q-btn>
                    </div>
                    <div class="single-product-info">
                      <p>Категория :<a href="#">{{ product?.category?.name }}</a></p>
                      <p>Производитель :<a href="#">Биолан</a></p>
                      <p>Количество : <span>50</span></p>
                      <p>Теги :<a href="#">Порошок</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-12">
                <ProductInfo
                  :product="product"
                  :reviews="product?.reviews"
                  v-if="product?.reviews"
                />
              </div>
            </div>

            <div class="row section">
              <div class="col-12">
                <div class="section-title">
                  <h2>Похожие товары</h2>
                </div>
              </div>
              <div 
                v-for="product in products?.slice(0, 4)"
                :key="product.id || ''"
                class="col-lg-3 col-md-6 col-12 mb-4"
              >
                <ProductItem :product="product" />
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </nuxt-layout>
</template>

<script setup lang="ts">
import { computed } from "vue"
import { useRoute } from "vue-router"
import { IProduct } from "@/models"
import { useCartStore } from '@/store/cart'
import { productApi } from "@/api/product"
import BreadCrumbs from "/components/BreadCrumbs.vue"
import SliderFoto from "/components/product/SliderFoto.vue"
import ProductInfo from "/components/product/ProductInfo.vue"
import ProductItem from '/components/ProductItem.vue'

const route = useRoute()
const cartStore = useCartStore()

const addInCart = () => {
  if (product.value) cartStore.addInCart(product.value)
}

const slugProduct = computed(() => {
  const slug = route.params.slug;
  return Array.isArray(slug) ? slug[0] : slug;
})

const { data: product } = await useAsyncData<IProduct>(
  "product",
  () => productApi.getBySlug(slugProduct.value),
  { watch: [slugProduct] }
)

const { data: products } = await useAsyncData<IProduct[]>(
  'similarProducts', () => productApi.getSimilar(Number(product.value?.id))
)
</script>