<template>
  <nuxt-layout name="main">
    <BreadCrumbs />

    <section class="product-area shop-sidebar shop section">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-4 col-12">
            <CatalogSidbar @queryChanged="handleQueryChanged" />
          </div>

          <div class="col-lg-9 col-md-8 col-12">
            <SortedCatalog @queryChanged="handleQueryChanged" />

            <div class="row" v-if="screenSize === 'lg' && catalogView === 'row'">
              <div 
                class="col-12 mt-4"
                v-for="product in products" 
                :key="product.id || 'fallback'"
              >
                <ProductItem :product="product" />
              </div>
            </div>
            
            <div class="row" v-else>
              <div 
                class="col-lg-4 col-md-6 col-12 mt-4"
                v-for="product in products" 
                :key="product.id || 'fallback'"
              >
                <ProductItem :product="product" />
              </div>
            </div>

            <div class="col-12">
              <div class="pagination center">
                <q-pagination
                  v-model="pagination.page"
                  :max="totalPages"
                  direction-links
                />
              </div>
            </div>
          </div>
        </div>
      </div> 
    </section>
  </nuxt-layout>
</template>

<script setup lang="ts">
import { ref, watch, computed } from 'vue'
import { IProduct, IQuery, IPagination } from '@/models'
import { productApi } from '@/api/product' 
import ProductItem from '/components/ProductItem.vue'
import BreadCrumbs from '/components/BreadCrumbs.vue'
import CatalogSidbar from '/components/pages/catalog/CatalogSidbar.vue'
import SortedCatalog from '/components/pages/catalog/SortedCatalog.vue'
import { useQueryStore } from '@/store/query'
import useScreenSize from '@/composables/useScreenSize'

const { screenSize } = useScreenSize()
const queryStore = useQueryStore()

const queryParameters: IQuery = {
  sort: '',
  categoryId: null,
  min: null,
  max: null,
  searchTerm: null
}

const pagination: Ref<IPagination> = ref({
  page: 1,
  perPage: 12
})

const catalogView = ref()
const products: Ref<IProduct[]> = ref([])
const length: Ref<number> = ref(0)

const totalPages = computed(() => {
  return Math.ceil(length.value / pagination.value.perPage)
})

const startQuery = () => {
  const url = new URL(window.location.href)
  
  const paginationKeys: (keyof IPagination)[] = ['page', 'perPage']
  const queryKeys: (keyof IQuery)[] = ['sort', 'categoryId', 'min', 'max', 'searchTerm']

  const mappingKeys: { [key: string]: keyof IQuery } = {
    'minPrice': 'min',
    'maxPrice': 'max'
  }

  url.searchParams.forEach((value, key) => {
    if (paginationKeys.includes(key as keyof IPagination)) {
      pagination.value[key as keyof IPagination] = parseInt(value, 10)
    }
    else if (queryKeys.includes(key as keyof IQuery) || mappingKeys[key]) {
      const actualKey = mappingKeys[key] || key
      queryParameters[actualKey as keyof IQuery] = isNaN(Number(value)) ? value : parseInt(value, 10)
    }
  })
}

const getProducts = async () => {
  try {
    const data = await productApi.get(pagination.value, queryParameters)
    products.value = data.products
    length.value = data.length
  } catch (err) {
    console.log(err)
  }
}

const handleQueryChanged = async (query: IQuery) => {
  for (const key in query) {
    if (query.hasOwnProperty(key)) {
      queryParameters[key] = query[key]
    }
  }

  getProducts()
}

watch(() => queryStore.catalogView, (newVal) => { catalogView.value = newVal })
watch(pagination, (newPagination) => {
  const url = new URL(window.location.href)
  
  if (newPagination.page) {
    url.searchParams.set('page', newPagination.page.toString())
  } else {
    url.searchParams.delete('page')
  }

  if (newPagination.perPage) {
    url.searchParams.set('perPage', newPagination.perPage.toString())
  } else {
    url.searchParams.delete('perPage')
  }

  history.pushState({}, '', url.toString())
  getProducts()
}, { deep: true })

onMounted(() => { 
  startQuery()
  catalogView.value = queryStore.catalogView 
  getProducts()
})

</script>