<template>
  <section class="hero-slider bg-grey">
    <carousel :items-to-show="1">
      <slide v-for="slide in slides" :key="slide.title">
        <div class="container">
          <div class="main-hero-slider owl-carousel owl-theme">
            <div class="item">
              <div class="single-slider item">
                <div class="row">
                  <div class="col-lg-6 col-md-8 offset-lg-3 my-auto">
                    <div class="text-inner">
                      <div class="hero-text">
                        <h1 v-html="slide.title"></h1>
                        <p>
                          {{ slide.description }}
                        </p>
                        <div class="button">
                          <a :href="slide.link" class="btn">Подробнее</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 my-auto">
                    <img
                      :src="slide.image"
                      class="w-100"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </slide>

      <template #addons>
        <navigation />
        <pagination />
      </template>
    </carousel>
  </section>
</template>

<script setup lang="ts">
  import { Ref, ref } from 'vue'
  import { ISlides } from '@/models'
  import 'vue3-carousel/dist/carousel.css'
  import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel'
  
  const slides: Ref<ISlides[]> = ref([
    {
      title: '<span>UP TO 100% OFF </span>Как дела ?',
      description: 'There are many variations of passages of lorem ipsum',
      link: 'https://ww.google.com',
      image: 'img/slider/slider.png'
    },
    {
      title: '<span>UP TO 10% OFF </span>Номрально',
      description: 'There are many variations of passages of lorem ipsum',
      link: 'https://ww.google.com',
      image: 'img/slider/slider.png'
    },
    {
      title: '<span>UP TO 50% OFF </span>For Your First Buy',
      description: 'There are many variations of passages of lorem ipsum',
      link: 'https://ww.google.com',
      image: 'img/slider/slider.png'
    },
  ])
  
</script>

<style scoped>
.carousel__item {
  min-height: 200px;
  width: 100%;
  background-color: var(--vc-clr-primary);
  color: var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}
</style>