<template>
  <div class="product-area section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb-5">
          <div class="product-brand">
            <h5>Популярное</h5>
            <div class="brand-list">
              <a
                v-for="category in categories"
                :key="category.id || ''"
                @click="getByCategory(category.id)"
              >
                {{ category.name }}
              </a>
            </div>
            <NuxtLink to="/catalog" class="show-brand-btn">
              Смотреть больше товаров 
            </NuxtLink>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-12">
              <div
                class="section-title d-flex justify-content-between align-center"
              >
                <div class="d-flex section-title-left">
                  <i class="flaticon-list-text"></i>
                  <h2>Обзор товаров</h2>
                </div>
                <div class="section-title-right">
                  <NuxtLink to="/catalog">
                    Смотреть больше <i class="far fa-long-arrow-right"></i>
                  </NuxtLink>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div 
              v-for="product in products"
              :key="product.id || ''"
              class="col-lg-4 col-md-6 mb-4"
            >
              <ProductItem :product="product" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, Ref } from 'vue'
import { ICategory, IProduct } from '@/models'
import { categoryApi } from '@/api/category' 
import { productApi } from '@/api/product'
import ProductItem from '/components/ProductItem.vue'

const products: Ref<IProduct[]> = ref([])

const { data: categories } = await useAsyncData<ICategory[]>('categories-recommend', () => categoryApi.getRecommend())

const { data } = await useAsyncData<{ products: IProduct[]; length: number }>('products-recommend', () => productApi.getRecommend())
if (data) products.value = data?.value?.products || []

const getByCategory = async (categoryId: number) => {
  try {
    const resp = await productApi.getByCategory(categoryId)
    products.value = resp.products
  } catch (err) {
    console.log(err)
  }
}

</script>