<template>
  <div class="product-area section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="section-title d-flex justify-content-between align-center"
          >
            <div class="d-flex section-title-left">
              <i class="flaticon-tags"></i>
              <h2>Рекомендуемые товары</h2>
            </div>
            <div class="section-title-right">
              <NuxtLink to="catalog/">
                Смотреть больше <i class="far fa-long-arrow-right"></i>
              </NuxtLink>
            </div>
          </div>
        </div>
      </div>
      
      <carousel :items-to-show="itemsToShow" class="product-slider owl-carousel owl-theme">
        <slide v-for="product in products" :key="product.id || ''">
          <div class="item">
            <ProductItem :product="product" />
          </div>
        </slide>

        <template #addons>
          <navigation />
          <pagination />
        </template>
      </carousel>

    </div>
  </div>
</template>

<script setup lang="ts">
import { Ref, ref } from 'vue'
import { IProduct } from '@/models'
import 'vue3-carousel/dist/carousel.css'
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel'
import ProductItem from '/components/ProductItem.vue'
import { productApi } from '@/api/product'
import useResponsiveSlides from '@/composables/useResponsiveSlides'

const itemsToShow = useResponsiveSlides(3)
const products: Ref<IProduct[]> = ref([])

const { data } = await useAsyncData<{ products: IProduct[]; length: number }>('products-recommend', () => productApi.getRecommend())
if (data) products.value = data?.value?.products || []

</script>

<style scoped>
.carousel__item {
  min-height: 200px;
  width: 100%;
  background-color: var(--vc-clr-primary);
  color: var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}
</style>