<template>
  <nuxt-layout name="admin">
    <div class="account-content bg-white pt-0">
      <h4 class="account-content-title">
        <i class="far fa-th-large"></i> Добро пожаловать
      </h4>
      <div class="profile-info">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="profile-widget py-4">
                  <b>100000₽</b>
                  <p>Общая прибыль</p>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="profile-widget py-4">
                  <b>20</b>
                  <p>Заказы в ожидании</p>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="profile-widget py-4">
                  <b>10</b>
                  <p>Завершенных заказов</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 mt-4 mb-4">
        <a href="edit-profile.html" class="profile-btn">Edit Profile</a>
      </div> -->
      <div class="account-content mt-4">
        <h4 class="account-content-title">
          <i class="far fa-th-large"></i> Статистика
        </h4>
        <!-- <canvas
          id="myChart"
          width="733"
          height="366"
          style="
            display: block;
            box-sizing: border-box;
            height: 366px;
            width: 733px;
          "
        ></canvas> -->
      </div>
    </div>
  </nuxt-layout>
</template>

<script setup>
definePageMeta({
  middleware: ["auth"]
})
</script>

<style lang="scss">
.router-link-active {
  color: #79bae7 !important;
}
</style>