<template>
  <div class="sinlge-bar shopping">
    <NuxtLink to="/cart" class="single-icon">
      <i class="fal fa-shopping-cart"></i>
      <span class="total-count" v-if="!!quantityTotal">{{ quantityTotal }}</span>
    </NuxtLink>

    <div class="shopping-item" v-if="quantityTotal">
      <div class="dropdown-cart-header">
        <span>{{ cart.length }} позиции</span>
        <NuxtLink to="/cart">В корзину</NuxtLink>
      </div>
      <ul class="shopping-list">
        <li
          v-for="product in cart"
          :key="product.productId"
        >
          <a href="#" class="remove" title="удалить товар из корзины" @click="removeProduct(product.productId)">
            <i class="fal fa-times-circle"></i>
          </a>
          <NuxtLink class="cart-img" :to="`/catalog/${product.slug}`">
            <img :src="`http://localhost:4200${product.image}`" alt="#"/>
          </NuxtLink>
          <h4><NuxtLink :to="`/catalog/${product.slug}`">{{ product.name }}</NuxtLink></h4>
          <p class="quantity">
            {{ product.quantity }}x - <span class="amount">{{ product.quantity * product.price }}₽</span>
          </p>
        </li>
      </ul>
      <div class="bottom">
        <div class="total">
          <span>Итого</span>
          <span class="total-amount">{{ priceTotal }}₽</span>
        </div>
        <NuxtLink to="/checkout" class="btn animate">Оформить заказ</NuxtLink>
      </div>
    </div>

    <div class="shopping-item" v-else>
      <div class="dropdown-cart-header">
        <span>Корзина пуста</span>
      </div>
    </div>
    
  </div>
</template>

<script setup lang="ts">
import { useCartStore } from '@/store/cart'

const cartStore = useCartStore()

const cart = computed(() => cartStore.getCart)
const quantityTotal = computed(() => cartStore.getQuantityTotal)
const priceTotal = computed(() => cartStore.getTotal)

const removeProduct = (productId: number) => {
  cartStore.removeFromCart(productId)
}

</script>