<template>
  <div class="all-category">
    <NuxtLink class="d-flex title" to="/catalog">
      <i class="flaticon-menu cat-heading-icon"></i>
      <h3 class="cat-heading">КАТЕГОРИИ</h3>
    </NuxtLink>
    <ul class="main-category">
      <li 
        v-for="category in categories"
        :key="category.id"
      >
        <NuxtLink to="/">
          <i class="flaticon-bags category-icon"></i>
          {{ category.name }}
        </NuxtLink>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { ICategory } from '@/models'
import { categoryApi } from '@/api/category'

const { data: categories } = await useAsyncData<ICategory[]>('categories', () => categoryApi.getAll())
</script>

<style>
.header.shop .main-category {
  opacity: 0;
  visibility: hidden;
}
.header.shop .all-category:hover > .main-category {
  opacity: 1;
  visibility: visible;
}
</style>