<template>
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bread-inner">
            <ul class="bread-list">
              <li>
                <NuxtLink to="/">Главная</NuxtLink>
                <i class="ti-arrow-right"></i>
              </li>
              <li v-for="(crumb, index) in breadcrumbs" :key="index">
                <NuxtLink :to="crumb.path">{{ crumb.name }}</NuxtLink>
                <i v-if="index !== breadcrumbs.length - 1" class="ti-arrow-right"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useRoute } from 'vue-router'

interface Breadcrumb {
  name: string;
  path: string;
}

const route = useRoute()

const pathTranslations: Record<string, string> = {
  'главная': 'Главная',
  'catalog': 'Каталог',
  'order': 'Как заказать',
  'about': 'О нас',
  'contacts': 'Контакты',
  'blog': 'Блог',
  'cart': 'Корзина',
}

const breadcrumbs = computed(() => {
  const pathArray = route.path.split('/')
  pathArray.shift()

  let breadcrumbs: Breadcrumb[] = []
  pathArray.forEach((path, i) => {
    breadcrumbs.push({
      name: pathTranslations[path] || path,
      path: '/' + pathArray.slice(0, i + 1).join('/')
    })
  })

  return breadcrumbs
})

</script>