<template>
  <section class="shop-services section home">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-service">
            <i class="fal fa-truck"></i>
            <h4>Бесплатная доставка</h4>
            <p>Доставка от 1500₽</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-service">
            <i class="fal fa-sync"></i>
            <h4>Возврат товара</h4>
            <p>Возврат товара до 14 дней</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-service">
            <i class="fal fa-lock"></i>
            <h4>Безопасная оплата</h4>
            <p>100% безопасная оплата</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-service">
            <i class="fal fa-headset"></i>
            <h4>Поддержка 24/7</h4>
            <p>Звоните нам</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
