<template>
  <div class="single-product">
    <div class="product-img">
      <NuxtLink :to="`/catalog/${product.slug}`">
        <img
          class="product-img"
          :src="`http://localhost:4200${product?.images[0]}`"
          alt="#"
        />
      </NuxtLink>
      <div class="button-head">
        <div class="product-action">
          <NuxtLink to="/">
            <i class="far fa-heart"></i>
            <span>В избранное</span>
          </NuxtLink>
        </div>
      </div>
    </div>
    <div class="product-content">
      <h3><NuxtLink :to="`/catalog/${product.slug}`">{{ product.name }}</NuxtLink></h3>
      
      <div class="d-flex justify-content-between">
        <div class="product-price">
          <span>{{product.price}}₽</span>
        </div>
        <button class="product-cart-btn" type="button" @click="addInCart">
          <i class="fal fa-shopping-cart"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { IProduct } from '@/models'
import { useCartStore } from '@/store/cart'

const cartStore = useCartStore()

const props = defineProps({
  product: {
    type: Object as () => IProduct,
    required: true,
  },
})

const addInCart = () => {
  if (props.product) cartStore.addInCart(props.product)
}
</script>