@import './quasar.variables.scss';

@media (max-width: 772px) {
  .shop.login {
    .login-form {
      padding: 50px 15px;
    }
  }
  .form-check {
    .form-check-label {
      font-size: 13px;
    }
  }
}

.mt-none {
  margin-top: 0;
}
.mb-none {
  margin-bottom: 0 !important;
}
.ml-auto {
  margin-left: auto;
}

.q-mt-sm {
  
}

.head {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 100%;
}

.q-pagination {
  .q-pagination__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    & > * {
      flex: 1;
    }
    & > .q-btn {
      max-width: 28px;
    }
    .q-pagination__middle {
      max-width: max-content;
      & > * {
        flex: 1;
      }
    }
  }
}

.q-field {
  .q-field__control {
    background: white !important;
    margin: 0;
    min-height: 45px !important;
    &:before {
      background: white !important;
    }
    .q-select__dropdown-icon {
      padding-right: 0;
    }
    .q-field__native {
      span {
        margin-bottom: 2px;
        position: relative;
        bottom: 2px;
      }
    }
  }
}
.max-content {
  max-width: max-content !important;
}

.btn {
  max-width: max-content;
}

.q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: 21px;
}
.q-select {
  .q-field__control {
    border-radius: 10px;
    background: white;
    border: 1px solid #ccc;
    min-height: 45px;
    height: 45px;
    
    .q-field__control-container {
      min-width: 100%;
      position: absolute;
      .q-field__native {
        span {
          color: #687982;
          padding-left: 0;
          font-size: 16px;
        }
      }
      .q-field__label {
        top: 13px;
      }
    }
  }
  .q-field__append {
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-top: 12px;
    font-size: 20px;
    color: #687982 !important;
  }
}
.q-menu--square {
  border-radius: 10px;
}

.logo {
  a {
    img {
      max-width: max-content !important;
      height: 70px;
      @media (max-width: 772px) {
        height: 45px;
      }
    }
  }
}

.mobile-header-nav {
  .mobile-header-nav__btn-menu {
    margin-top: 12.5px;
  }
}
@media (max-width: 772px) {
  .header {
    overflow: hidden;
  }
}

.mobile-menu {
  .menu-area {  
    display: flex;
    float: none;
    .navbar  {
      width: 100%;
      padding-left: 10px;
    }
  }
}

.q-notifications {
  .q-notifications__list {
    .q-notification {
      min-width: 280px;
      .q-notification__message {
        min-width: 280px;
      }
    }
  }
}

.admin {
  .account-order-list {
    .product-info {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}

.full-width {
  max-width: 100%;
}

.my-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  .q-rating__icon-container {
    flex: 1;
    padding: 0;
    max-width: 28px;
    transform: translateX(10px);
  }
}

.shopping-cart-single {
  @media (max-width: 772px) {
    .cart-title {
      margin-top: 16px;
    }
  }
}

.brand-list {
  a {
    &:hover {
      color: white !important;
    }
  }
}

.br-10 {
  border-radius: 10px;
}

.newsletter-inner {
  .fa-search {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 16px;
    right: 14px;
    cursor: pointer;
  }
}

.q-toggle {
  display: flex !important;
  flex-wrap: nowrap;
  .q-toggle__inner {
    max-width: max-content;
  }
  .no-outline {
    display: none;
  }
  .q-toggle__label {
    padding-left: 0;
  }
}