<template>
  <nuxt-layout name="main">
    <section class="shop login section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="login-form">
              <h2>Вход</h2>
              <p>Вход в личный кабинет</p>

              <q-form class="form" @submit="doLogin">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Введите Email<span>*</span></label>
                      <input
                        type="email"
                        v-model="formData.email"
                        placeholder="example@mail.com"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label>Введите пароль<span>*</span></label>
                      <input
                        type="password"
                        v-model="formData.password"
                        placeholder="********"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-flex">
                      <NuxtLink to="/auth/reset" class="lost-pass" style="margin-left: 0;">Забыли пароль?</NuxtLink>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group login-btn">
                      <button class="btn full-width" type="submit">Войти</button>
                    </div>
                  </div>                  
                  <p>
                    Нет аккаунта? <NuxtLink to="/auth/register">Зарегистрироваться</NuxtLink>
                  </p>
                </div>
              </q-form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </nuxt-layout>
</template>

<script setup lang="ts">
import { ref, Ref } from 'vue'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'
import { IUser } from '@/models'
import { authApi } from '@/api/auth'

const router = useRouter()
const $q = useQuasar()

const formData: Ref<IUser> = ref({
  email: null,
  password: null
})

const doLogin = async () => {
  try {
    await authApi.doLogin(formData.value)
    router.push('/admin')
  } catch (err) {
    console.log(err)
  }
}

</script>