<template>
  <nuxt-layout name="main">
    <section class="shop login section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="login-form">
              <h2>Регистрация</h2>
              <p>Создайте свою учетную запись</p>

              <q-form class="form" @submit="doRegister">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label>Имя<span>*</span></label>
                      <input
                        type="text"
                        v-model="formData.name"
                        placeholder="Иван"
                        required
                      />
                    </div>
                  </div>
                  
                  <div class="col-6">
                    <div class="form-group">
                      <label>Телефон<span>*</span></label>
                      <input
                        type="text"
                        v-model="formData.phone"
                        placeholder="89999999999"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label>Email<span>*</span></label>
                      <input
                        type="email"
                        v-model="formData.email"
                        placeholder="example@mail.com"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label>Пароль<span>*</span></label>
                      <input
                        type="password"
                        v-model="formData.password"
                        placeholder="********"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label>Повтор пароля<span>*</span></label>
                      <input
                        type="password"
                        v-model="confirmPassword"
                        placeholder="********"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        v-model="check"
                      />
                      <label class="form-check-label" for="agree">
                        Я согласен на обработку персональных данных
                        <NuxtLink to="/" class="text-success">Политика конфиденциальности</NuxtLink>
                      </label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group login-btn">
                      <button class="btn full-width" type="submit">Зарегистрироваться</button>
                    </div>
                  </div>
                  <p>
                    Есть аккаунт? <NuxtLink to="/auth/login">Войти</NuxtLink>
                  </p>
                </div>
              </q-form>

            </div>
          </div>
        </div>
      </div>
    </section>
  </nuxt-layout>
</template>

<script setup lang="ts">
import { ref, Ref } from 'vue'
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'
import { IUser } from '@/models'
import { authApi } from '@/api/auth'

const $q = useQuasar()
const router = useRouter()

const formData: Ref<IUser> = ref({
  email: null,
  password: null,
  name: null,
  phone: null,
})

const check: Ref<boolean> = ref(true)
const confirmPassword: Ref<string> = ref('')

const doRegister = async () => {
  if (formData.value !== confirmPassword.value) {
    $q.notify({
      color: "negative",
      timeout: 3000,
      message: "Пароли должны совпадать",
    })
    return
  } 

  try {
    await authApi.doRegister(formData.value)
    router.push('/admin')
  } catch (err) {
    console.log(err)
  }
}

</script>
