<template>
  <nuxt-layout name="main">
    <section class="shop login section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="login-form">
              <h2>Сброс пароля</h2>
              <p>Восстановление пароля</p>

              <form class="form" method="post" action="#">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Введите Email<span>*</span></label>
                      <input
                        type="email"
                        name="email"
                        placeholder="example@mail.com"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group login-btn">
                      <button class="btn" type="submit">Отправить</button>
                    </div>
                  </div>
                  <p>
                    Нет аккаунта? <NuxtLink to="/auth/register">Зарегистрироваться</NuxtLink>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </nuxt-layout>
</template>

<script setup lang="ts">
</script>