<template>
  <header class="header shop">
    <div class="middle-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-12">
            <div class="logo">
              <NuxtLink href="/">
                <img src="/img/logo.png" alt="logo"/>
              </NuxtLink>
            </div>

            <div class="search-top" style="right: 15px">
              <span class="q-mr-md">Админ</span>
              <q-btn flat padding="0" class="single-icon">
                <i class="fal fa-sign-out-alt" aria-hidden="true"></i>
              </q-btn>
            </div>
          </div>

          <div class="col-lg-7 col-md-6 col-12"></div>

          <div class="col-lg-2 col-md-3 col-12">
            <div class="right-bar">
              <div class="sinlge-bar shopping">
                <span class="q-mr-md">Админ</span>
                <q-btn flat padding="0" class="single-icon">
                  <i class="fal fa-sign-out-alt" aria-hidden="true"></i>
                </q-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </header>

  <section class="shop section admin">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb-4">
          <div class="account-sidebar">
            <div class="sidebar-list">
              <NuxtLink to="/admin">
                <i class="far fa-th-large"></i> Главная
              </NuxtLink>
              <NuxtLink to="/admin/products">
                <i class="far fa-layer-group"></i> Продукция
              </NuxtLink>
              <NuxtLink to="/admin/categories">
                <i class="far fa-list"></i> Категории
              </NuxtLink>
              <NuxtLink to="/admin/attributes">
                <i class="far fa-list"></i> Атрибуты
              </NuxtLink>
              <NuxtLink to="/admin/orders">
                <i class="far fa-shopping-bag"></i> Заказы
              </NuxtLink>
              <NuxtLink to="/admin/profile">
                <i class="far fa-cog"></i> Профиль
              </NuxtLink>
              <NuxtLink >
                <i class="far fa-sign-out-alt"></i> Выйти
              </NuxtLink>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <slot />
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-top section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-12">
            <div class="single-footer about">
              <div class="logo">
                <NuxtLink href="/"
                  ><img width="250" src="/img/logo-white.png" alt="#"
                /></NuxtLink>
              </div>
              <p class="text">
                Нам доступно множество вариаций проходов, но большинство
                претерпели изменения в той или иной форме из-за андомизированных
                слов который добавил юмора.
              </p>
              <p class="call">
                Есть вопросы? Звоните нам с 9:00 до 19:00
                <span
                  ><NuxtLink href="tel:89999999999">
                    +7 (999) 999-99-99</NuxtLink
                  ></span
                >
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-12">
            <div class="single-footer links">
              <h4>Страицы</h4>
              <ul>
                <li class="active">
                  <NuxtLink to="/">Главная</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/">Каталог</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/">Как заказать</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/">О нас</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/">Контакты</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/">Блог</NuxtLink>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-12">
            <div class="single-footer links">
              <h4>Дополнительно</h4>
              <ul>
                <li><NuxtLink to="/">Сотрудники</NuxtLink></li>
                <li><NuxtLink to="/">Список дилеров</NuxtLink></li>
                <li><NuxtLink to="/">Вакансии</NuxtLink></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="single-footer social">
              <h4>Контакты</h4>

              <div class="contact">
                <ul>
                  <li>
                    <i class="fal fa-map-marker-alt"></i> Наш адрес ул Улица д.
                    5 кв 35
                  </li>
                  <li>
                    <i class="fal fa-envelope"></i>
                    me@example.com
                  </li>
                  <li><i class="fal fa-phone"></i> +7 (999) 999-99-99</li>
                </ul>
              </div>

              <ul>
                <li>
                  <NuxtLink to="/"><i class="fab fa-facebook-f"></i></NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/"><i class="fab fa-twitter"></i></NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/"><i class="fab fa-whatsapp"></i></NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/"><i class="fab fa-instagram"></i></NuxtLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <div class="inner">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="left">
                <p>
                  Copyright © <span id="date"></span>
                  <NuxtLink to="/">Химия</NuxtLink> - Все права защищены
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="right payment">
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-visa"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts" setup></script>