<template>
  <q-layout>
    <header class="header shop">
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
              <div class="top-left">
                <ul class="list-main">
                  <li>
                    <i class="ti-headphone-alt"></i>
                    <NuxtLink href="tel:89999999999">+7 (999) 999-99-99</NuxtLink>
                  </li>
                  <li>
                    <i class="ti-email"></i>
                    <NuxtLink href="mailto:example@gmail.com" class="__cf_email__">
                      example@gmail.com
                    </NuxtLink>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-12">
              <div class="right-content">
                <ul class="list-main">
                  <li><i class="ti-alarm-clock"></i> с 9:00 до 19:00</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <q-drawer
        v-model="leftDrawerOpen"
        bordered
        :breakpoint="576"
        class="mobile-menu"
      >
      <div class="q-ma-md" style="margin-bottom: 0;">
        <NuxtLink to="/auth/login" class="single-icon full-width">
          <div style="display: flex;flex-wrap: nowrap;">
            <i class="fal fa-user-circle" aria-hidden="true" style="font-size: 24px;width: 24px;"></i>
            <span class="q-ml-sm">Войти</span>
          </div>
        </NuxtLink>
        <div class="search-bar full-width mt-3">
          <q-form>
            <input
              name="search"
              placeholder="Введите название"
              type="search"
            />
            <button class="btnn" style="right: 0;"><i class="far fa-search"></i></button>
          </q-form>
        </div>
      </div>
        
        <div class="menu-area">
          <nav class="navbar navbar-expand-lg">
            <div class="navbar-collapse">
              <div class="nav-inner">
                <ul class="nav main-menu menu navbar-nav">
                  <li 
                    v-for="link in links"
                    :key="link.name"
                  >
                    <NuxtLink :to="link.path">{{ link.name }}</NuxtLink>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </q-drawer>

      <div class="middle-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-12 mobile-header-nav">
              <div class="logo">
                <NuxtLink href="/"><img src="/img/logo.png" alt="logo" /></NuxtLink>
              </div>

              <div class="search-top">
                <div class="top-search">
                  <NuxtLink @click="leftDrawerOpen = true"><i class="far fa-search q-mr-md"></i></NuxtLink>
                  <CartHeader />
                </div>                

                <div class="search-top">
                  <form class="search-form">
                    <input
                      type="text"
                      placeholder="Search here..."
                      name="search"
                    />
                    <button value="search" type="submit">
                      <i class="far fa-search"></i>
                    </button>
                  </form>
                </div>
              </div>
              
              <q-btn
                flat
                dense
                round
                icon="far fa-bars"
                aria-label="Menu"
                class="d-block d-md-none q-ml-auto mobile-header-nav__btn-menu"
                @click="leftDrawerOpen = true"
              />

              <div class="mobile-nav"></div>
            </div>
            <div class="col-lg-7 col-md-6 col-12">
              <div class="search-bar-top">
                <div class="search-bar">
                  <form>
                    <input
                      name="search"
                      placeholder="Введите название продукта"
                      type="search"
                    />
                    <button class="btnn"><i class="far fa-search"></i></button>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-12">
              <div class="right-bar">
                <div class="sinlge-bar">
                  <NuxtLink to="/auth/login" class="single-icon"
                    ><i class="fal fa-user-circle" aria-hidden="true"></i
                  ></NuxtLink>
                </div>

                <CartHeader />
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="header-inner shadow">
        <div class="container">
          <div class="cat-nav-head">
            <div class="row">
              <div class="col-lg-3">
                <MainCategories />
              </div>
              <div class="col-lg-9 col-12">
                <div class="menu-area">
                  <nav class="navbar navbar-expand-lg">
                    <div class="navbar-collapse">
                      <div class="nav-inner">
                        <ul class="nav main-menu menu navbar-nav">
                          <li 
                            v-for="link in links"
                            :key="link.name"
                          >
                            <NuxtLink :to="link.path">{{ link.name }}</NuxtLink>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <slot />

    <footer class="footer">
      <div class="footer-top section">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-12">
              <div class="single-footer about">
                <div class="logo">
                  <NuxtLink href="/"
                    ><img width="250" src="/img/logo-white.png" alt="#"
                  /></NuxtLink>
                </div>
                <p class="text">
                  Нам доступно множество вариаций проходов, но большинство
                  претерпели изменения в той или иной форме из-за андомизированных
                  слов который добавил юмора.
                </p>
                <p class="call">
                  Есть вопросы? Звоните нам с 9:00 до 19:00
                  <span><NuxtLink href="tel:89999999999"> +7 (999) 999-99-99</NuxtLink></span>
                </p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-12">
              <div class="single-footer links">
                <h4>Страицы</h4>
                <ul>
                  <li 
                    v-for="link in links"
                    :key="link.name"
                  >
                    <NuxtLink :to="link.path">{{ link.name }}</NuxtLink>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-12">
              <div class="single-footer links">
                <h4>Дополнительно</h4>
                <ul>
                  <li><NuxtLink to="/">Сотрудники</NuxtLink></li>
                  <li><NuxtLink to="/">Список дилеров</NuxtLink></li>
                  <li><NuxtLink to="/">Вакансии</NuxtLink></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="single-footer social">
                <h4>Контакты</h4>

                <div class="contact">
                  <ul>
                    <li>
                      <i class="fal fa-map-marker-alt"></i> Наш адрес ул Улица д.
                      5 кв 35
                    </li>
                    <li>
                      <i class="fal fa-envelope"></i>
                      me@example.com
                    </li>
                    <li><i class="fal fa-phone"></i> +7 (999) 999-99-99</li>
                  </ul>
                </div>

                <ul>
                  <li>
                    <NuxtLink to="/"><i class="fab fa-facebook-f"></i></NuxtLink>
                  </li>
                  <li>
                    <NuxtLink to="/"><i class="fab fa-twitter"></i></NuxtLink>
                  </li>
                  <li>
                    <NuxtLink to="/"><i class="fab fa-whatsapp"></i></NuxtLink>
                  </li>
                  <li>
                    <NuxtLink to="/"><i class="fab fa-instagram"></i></NuxtLink>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="left">
                  <p>
                    Copyright © <span id="date"></span>
                    <NuxtLink to="/">Химия</NuxtLink> - Все права защищены
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="right payment">
                  <i class="fab fa-cc-mastercard"></i>
                  <i class="fab fa-cc-visa"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </q-layout>
</template>

<script lang="ts" setup>
import { ref, Ref } from 'vue'
import MainCategories from "/components/layout/MainCategories.vue"
import CartHeader from "/components/layout/CartHeader.vue"

interface ILink {
  name: string;
  path: string;
}

const leftDrawerOpen: Ref<boolean> = ref(false) 

const links: Ref<ILink[]> = ref([
  { name: 'Главная', path: '/' },
  { name: 'Каталог', path: '/catalog' },
  { name: 'Как заказать', path: '/order' },
  { name: 'О нас', path: '/about' },
  { name: 'Контакты', path: '/contacts' },
  { name: 'Блог', path: '/blog' },
])
</script>

<style lang="scss">
.router-link-active {
  color: #79bae7 !important;
}
</style>