<template>
  <div class="product-info">
    <nav class="nav-main">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <q-tabs
          v-model="tab"
        >
          <q-tab name="description" label="Описание" />
          <q-tab name="more" label="Подробнее" />
          <q-tab name="revoews" label="Отзывы" />
        </q-tabs>
      </div>
    </nav>

    <div class="tab-content">
      <q-tab-panels
        v-model="tab"
        animated
        swipeable
        vertical
        transition-prev="jump-up"
        transition-next="jump-up"
      >
        <q-tab-panel name="description">
          <div class="single-des">
            <span v-html="product?.description"></span>
          </div>
        </q-tab-panel>

        <q-tab-panel name="more">
          <div class="tab-single">
            <div class="single-des">
              <h4>Подробные характеристики</h4>
              <ul>
                <li>Sed ut perspiciatis unde omnis iste.</li>
                <li>Natus error sit voluptatem doloremque.</li>
                <li>Quis autem vel eum iure reprehenderit.</li>
                <li>Tuil in ea voluptate velit esse quam.</li>
              </ul>
            </div>
          </div>

        </q-tab-panel>

        <q-tab-panel name="revoews">
          <div class="tab-single review-panel">

            <div class="ratting-main">
              <!-- <div class="avg-ratting">
                <h4>2 <span>(Отзывов)</span></h4>
              </div> -->

              <div
                v-for="review in reviewsData"
                :key="review.id"
                class="single-rating"
              >
                <div class="rating-des">
                  <h6>{{ review.user?.name }}</h6>
                  <div class="flex">
                    <q-icon 
                      v-for="(star, index) in review.rating"
                      :key="index"
                      name="star" 
                      class="q-mt-xs" 
                      color="warning" 
                    />
                  </div>
                  <p>
                    {{ review.text }}
                  </p>
                </div>
              </div>
            </div>

            <div class="comment-review">
              <div class="add-review">
                <h5>Хотите оставить отзыв ?</h5>
                <p>
                  Оставлять отзывы могут только зарегистрированные пользователи
                </p>
              </div>
            </div>
            
            <q-form class="form">
              <div class="row">
                <div class="col-lg-12 col-12">
                  <div class="form-group">
                    <label>Ваша оценка<span>*</span></label>
                    <q-rating
                      v-model="rating"
                      size="2em"
                      :max="5"
                      color="warning"
                      class="my-rating"
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-12">
                  <div class="form-group">
                    <label>Текст отзыва<span>*</span></label>
                    <textarea
                      name="message"
                      rows="6"
                      placeholder=""
                      required
                      v-model="text"
                    ></textarea>
                  </div>
                </div>
                
                <div class="col-lg-12 col-12">
                  <div class="form-group button5">
                    <q-btn @click="create" class="btn" type="button">
                      Отправить
                    </q-btn>
                  </div>
                </div>
              </div>
            </q-form>

          </div>
        </q-tab-panel>
      </q-tab-panels>

    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, Ref, onMounted } from 'vue'
import { IReview } from '@/models'
import { reviewsApi } from "@/api/review"

const props = defineProps({
  product: Object,
  reviews: {
    type: Array as () => IReview[],
    required: false,
  },
})

const reviewsData: Ref<IReview[]> = ref([])

const tab: Ref<string> = ref('description')
const rating: Ref<number> = ref(5)
const text: Ref<string> = ref('')

const create = async () => {
  try {
    const resp = await reviewsApi.create({
      id: props.product?.id,
      rating: rating.value,
      text: text.value,
    })

    let me = JSON.parse(localStorage.getItem('user')) || null
    me = me.name

    const review = {
      ...resp,
      user: {
        name: me || 'я'
      }
    }
    reviewsData.value.push(review)
    rating.value = 5
    text.value = me || 'я'
  } catch (err) {
    console.log(err)
  }
}

onMounted(() => {
  reviewsData.value = props.reviews || []
})

</script>

<style lang="scss">
.product-info {
  .q-tabs {
    width: 100%;
    padding: 0 12px;
    .q-tabs__content {
      .q-tab {
        flex: 1;
        .q-tab__label {
          color: #687982;
        }
        .q-tab__indicator {
          color: #79bae7;
        }
        &--active {
          .q-tab__label {
            color: #79bae7;
          }
        }
      }
    }
  }
  .q-tab-panels {
    .q-tab-panel {
      padding: 0;
      overflow: hidden;
    }
  }
}
</style>