<template>
  <div class="product-gallery">
    <div class="flexslider-thumbnails">
      <div
        class="flex-viewport"
        style="overflow: hidden; position: relative"
      >
        <ul class="slides">
          <li class="flex-active-slide">
            <img :src="tab" alt="#" />
          </li>
        </ul>
      </div>

      <q-tabs
        v-model="tab"
        class="flex-control-nav flex-control-thumbs"
        v-if="images[0]"
      >
        <!-- <q-tab 
          :name="`http://localhost:4200${images[0][0]}`"
        >
          <li><img :src="`http://localhost:4200${images[0][0]}`" alt=""></li>
        </q-tab> -->
        <q-tab 
          v-for="image in images[0]"
          :key="image"
          :name="`http://localhost:4200${image}`"
        >
          <li><img :src="`http://localhost:4200${image}`" alt=""></li>
        </q-tab>
      </q-tabs>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, Ref } from 'vue'
import { IImage } from '@/models'

const props = defineProps({
  images: {
    type: Array as () => IImage[],
    required: true,
  },
})

const tab: Ref<any> = ref(`http://localhost:4200${props.images[0][0]}`)
</script>

<style lang="scss">
.product-gallery {
  .q-tabs {
    .q-tabs__content {
      justify-content: center;
      .q-tab {
        padding: 0;
        flex: 1 1 25%;
        max-width: 25%;
        li {
          width: 100%;
          margin-bottom: 0;
        }
        .q-ripple,
        .q-focus-helper {
          display: none;
        }
        &--active {
          li {
            img {
              border-color: #79bae7 !important;
            }
          }
        }
      }
    }
  }
  .q-tab--active .q-tab__indicator {
    display: none !important;
  }
}

</style>