<template>
  <nuxt-layout name="admin">
    <div class="account-content bg-white pt-0">
      <h4 class="account-content-title">
        <i class="far fa-layer-group"></i> Добавить категорию
      </h4>
      <div class="edit-profile">
        <q-form @submit="create">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="name" class="form-label">Название</label>
                <input type="text" class="form-control" v-model="formData.name" required />
              </div>
              <div class="row">
                <q-toggle
                  v-model="formData.isRecommended"
                  label="Рекомендованный товар"
                />
              </div>
            </div>
            

            <div class="col-lg-12 q-pt-sm"></div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Изображение</label>
                <q-uploader
                  @added="uploadImage"
                  @rejected="checkFileSize"
                  max-file-size="1048000"
                  accept="image/jpeg, image/png, image/gif, image/bmp"
                  style="width: 100%;"
                />
              </div>
            </div>

          </div>
          <button class="btn q-mt-md" type="submit">Добавить категорию</button>
        </q-form>
      </div>
    </div>
  </nuxt-layout>
</template>

<script setup lang="ts">
import { ref, Ref } from 'vue'
import { ICategoryFrom } from '@/types/CategoryModel'
import { ICategory, IErrorImage } from "@/models"
import { categoryApi } from '@/api/category'
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'

const router = useRouter()

definePageMeta({
  middleware: ["auth"]
})

const $q = useQuasar()

const formData: Ref<ICategoryFrom> = ref({
  name: '',
  isRecommended: false,
})

const image: any = ref(null)
const uploadImage = (files: any) => {
  image.value = files[0]
}

const checkFileSize = (rejectedEntries: IErrorImage[]) => {
  console.log(rejectedEntries)

  rejectedEntries.forEach((err) => {
    if (err.failedPropValidation === 'max-file-size') {
      $q.notify({
        color: 'negative',
        message: 'Размер файла не должен превышать 1 Mегабайт',
      })
    }
  })
}

const create = async () => {
  try {
    const resp = await categoryApi.create(formData.value, image.value)
    router.push('/admin/categories')
    $q.notify({
      color: 'positive',
      message: 'Категория добавлена',
    })
  } catch (err) {
    console.log(err)
    $q.notify({
      color: 'negative',
      message: 'Произошла ошибка',
    })
  }
}

</script>