<template>
  <nuxt-layout name="admin">
    <div class="account-content">
      <div class="head max-content justify-center">
        <h4 class="account-content-title mb-none">
          <i class="far fa-map-marker-alt"></i> Категории
        </h4>
        <NuxtLink
          to="/admin/categories/create"
          class="btn show-brand-btn mt-none ml-auto"
        >
          Добавить новую
        </NuxtLink>
      </div>
      <div class="account-content-table">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>#</th>
                <th>Название</th>
                <th>Действия</th>
              </tr>

              <tr 
                v-for="category in categories"
                :key="category.id || ''"
                class="account-order-list"
              >
                <td><b>{{ category.id }}</b></td>
                <td>{{ category.name }}</td>
                <td>
                  <div class="product-info mt-none">
                    <q-btn to="/admin/products/23" flat padding="0" class="content-action content-action-mr">
                      <i class="far fa-pen"></i>
                    </q-btn>
                    <q-btn flat padding="0" class="content-action">
                      <i class="far fa-trash"></i>
                    </q-btn>
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </nuxt-layout>
</template>

<script setup lang="ts">
import { ref, Ref, onMounted } from "vue"
import { categoryApi } from '@/api/category'
import { ICategory} from '@/models'

definePageMeta({
  middleware: ["auth"]
})

const categories: Ref<ICategory[]> = ref([])

const getCategories = async () => {
  try {
    const resp = await categoryApi.getAll()
    categories.value = resp
    console.log(resp)
  } catch (err) {
    console.log(err)
  }
}

const current: Ref<number> = ref(2)

onMounted(() => {
  getCategories()
})
</script>