<template>
  <nuxt-layout name="main">
    <BreadCrumbs />

    <section class="about-us section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="about-img overlay">
              <!-- <div class="button">
                <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="video video-popup mfp-iframe">
                  <i class="fa fa-play"></i>
                </a>
              </div> -->
              <img src="/img/about.jpg" alt="#">
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="about-content">
              <h3>Добро пожаловть <br>в <span>Black HOME</span></h3>
              <p>Рассказ о компании в развернутом виде. Рассказ о компании в развернутом виде. Рассказ о компании в
                развернутом виде. Рассказ о компании в развернутом виде. Рассказ о компании в развернутом виде. Рассказ о
                компании в развернутом виде.</p>
              <p>Рассказ о компании в развернутом виде. Рассказ о компании в развернутом виде. Рассказ о компании в
                развернутом виде. Рассказ о компании в развернутом виде.</p>
              <div class="button">
                <a href="#" class="btn">Наш блог</a>
                <a href="#" class="btn primary">Контакты</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="team" class="team section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>Наша команда</h2>
              <!-- <p>Подро</p> -->
            </div>
          </div>
        </div>
        <div class="row">

          <div v-for="(person, index) in 4" :key="person" class="col-lg-3 col-md-6 col-12 text-center">
            <div class="single-team">

              <div class="image">
                <img :src="`/img/team/${index + 1}.jpg`" alt="#">
              </div>

              <div class="info-head">

                <div class="info-box">
                  <h4 class="name"><a href="#">Имя Фамилия</a></h4>
                  <span class="designation">Должность</span>
                </div>

                <div class="social-links">
                  <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="shop-services py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <div class="single-service">
              <i class="fal fa-truck">
              </i>
              <h4>Бесплатная доставка</h4>
              <p>Доставка от 1500₽</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="single-service">
              <i class="fal fa-sync">
              </i>
              <h4>Возврат товара</h4>
              <p>Возврат товара до 14 дней</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="single-service">
              <i class="fal fa-lock">
              </i>
              <h4>Безопасная оплата</h4>
              <p>100% безопасная оплата</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="single-service">
              <i class="fal fa-headset">
              </i>
              <h4>Поддержка 24/7</h4>
              <p>Звоните нам</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </nuxt-layout>
</template>

<script setup lang="ts">

</script>