<template>
  <nuxt-layout name="main">
    <BreadCrumbs />

    <div class="shopping-cart section">
      <div class="container">
        
        <div class="row" v-if="cart.length">
          <div class="col-lg-8">
            <ProductItem 
              v-for="product in cart"
              :key="product.productId"
              :product="product"
            />
          </div>

          <div class="col-lg-4">
            <div class="cart-total-amount">
              <ul>
                <li>Количество товаров<span>{{ cartStore.getQuantityTotal }}</span></li>
                <li class="last">Итого к оплате<span>{{ cartStore.getTotal }}₽</span></li>
              </ul>
              <div class="checkout-section">
                <a href="#" class="btn coupon-apply-btn bg-warning" @click="cartStore.removeAllFromCart">
                  <span class="text-white">Очистить корзину</span>
                </a>
                <a href="#" class="btn coupon-apply-btn q-ml-sm">
                  <span class="text-white">Оформить</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" v-else>
          <h2>Ваша корзина пуста</h2>
        </div>

      </div>
    </div>
  </nuxt-layout>
</template>

<script setup lang="ts">
import { useCartStore } from '@/store/cart'
import BreadCrumbs from "/components/BreadCrumbs.vue"
import ProductItem from "/components/cart/ProductItem.vue"

const cartStore = useCartStore()

const cart = computed(() => cartStore.getCart)
</script>