<template>
  <nuxt-layout name="main">
    <BreadCrumbs />

    <section id="contact-us" class="contact-us section">
      <div class="container">
        <div class="contact-head">
          <div class="row">
            <div class="col-lg-8 col-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96708.34194156103!2d-74.03927096447748!3d40.759040329405195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a01c8df6fb3cb8!2sSolomon%20R.%20Guggenheim%20Museum!5e0!3m2!1sen!2sbd!4v1619410634508!5m2!1sen!2sbd" class="w-100" height="587" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-lg-4 col-12">
              <div class="single-head">
                <div class="single-info">
                  <i class="fal fa-phone"></i>
                  <h4 class="title">Call us Now:</h4>
                  <ul>
                    <li>(+1) 123 456 5657</li>
                    <li>(+1) 123 456 56571</li>
                  </ul>
                </div>
                <div class="single-info">
                  <i class="fal fa-envelope"></i>
                  <h4 class="title">Email:</h4>
                  <ul>
                    <li>
                      <a href="/cdn-cgi/l/email-protection#c3aaada5ac83a6bba2aeb3afa6eda0acae">
                        <span class="__cf_email__">me@example.com</span>
                        </a>
                      </li>
                    <li>
                      <a href="/cdn-cgi/l/email-protection#71020401011e0305311409101c011d145f121e1c">
                        <span class="__cf_email__">me@example.com</span>
                        </a>
                      </li>
                  </ul>
                </div>
                <div class="single-info">
                  <i class="fal fa-map-marker-alt"></i>
                  <h4 class="title">Our Address:</h4>
                  <ul>
                    <li>1503 Kovar Road, New York,<br> USA</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </nuxt-layout>
</template>