<template>
  <nuxt-layout name="main">
    <GeneralGallery />
    <section class="small-banner section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-banner">
              <img src="img/mini-banner1.jpg" alt="#" />
              <div class="content">
                <p>Hot Collections</p>
                <h3>
                  Best travel sale<br />
                  collection
                </h3>
                <NuxtLink to="/">ПОДРОБНЕЕ</NuxtLink>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-banner">
              <img src="img/mini-banner2.jpg" alt="#" />
              <div class="content">
                <p>Bag Collections</p>
                <h3>
                  Awesome Bag <br />
                  Collecton
                </h3>
                <NuxtLink to="/">Shop Now</NuxtLink>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-12">
            <div class="single-banner tab-height">
              <img src="img/mini-banner3.jpg" alt="#" />
              <div class="content">
                <p>Flash Sale</p>
                <h3>
                  Summer Season <br />
                  Up to <span>50%</span> Off
                </h3>
                <NuxtLink to="/">ПОДРОБНЕЕ</NuxtLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <PopularProducts />
    <PremiumBlock />
    <MiniCatalog />
  </nuxt-layout>
</template>

<script setup lang="ts">
import GeneralGallery from '/components/pages/index/GeneralGallery.vue'
import PopularProducts from '/components/pages/index/PopularProducts.vue'
import MiniCatalog from '/components/pages/index/MiniCatalog.vue'
import PremiumBlock from '/components/PremiumBlock.vue'
</script>

