<template>
  <div class="shop-sidebar">

    <div class="single-widget">
      <div class="shop-newsletter inner">
        <div class="newsletter-inner">
          <input v-model="query.searchTerm" placeholder="Введите название" type="text" class="full-width">
          <i class="far fa-search" data-v-inspector="layouts/main.vue:126:42" @click="handleSliderRelease"></i>
        </div>
      </div>
    </div>

    <div class="single-widget category">
      <h3 class="title">Категории</h3>
      <ul class="categor-list">
        <li
          v-for="category in categories"
          :key="category.id || 'fallback'"
        >
        <a
          href="#"
          @click.prevent="category.id && handleCategoryClick(category.id)"
          :class="{ 'text-primary': query.categoryId === category.id }"
        >
          {{ category.name }}
        </a>
        </li>
      </ul>
    </div>

    <div class="single-widget range">
      <h3 class="title">Цена</h3>
      <q-range
        v-model="query"
        :min="0"
        :max="50000"
        @change="handleSliderRelease"
      />
      <div class="price-range">
        <input type="number" v-model="query.min" :min="0"> 
        <input type="number" v-model="query.max" :min="0" :max="50000">
      </div>
    </div>
    <br>
    <button class="btn br-10 full-width" @click="removeQuery">Сбросить</button>

  </div>
</template>

<script lang="ts" setup>
import { ref, Ref, onMounted } from 'vue'
import { ICategory, IQuery } from '@/models'
import { categoryApi } from '@/api/category'
import { useRoute, useRouter } from 'vue-router'

const emit = defineEmits(['queryChanged'])

const route = useRoute()
const router = useRouter()
const query: Ref<IQuery> = ref({
  categoryId: null,
  min: 0,
  max: 50000,
  searchTerm: null
})

const removeQuery = () => {
  query.value = {
    categoryId: null,
    min: 0,
    max: 50000,
    searchTerm: null
  }
  emit('queryChanged', query.value)
  router.push('/catalog')
}

const keyMap: { [key: string]: string } = {
  min: 'minPrice',
  max: 'maxPrice',
  searchTerm: 'searchTerm'
}

const updateURLParameter = (paramName: string, paramValue: any) => {
  let url = new URL(window.location.href)

  if (paramValue) {
    url.searchParams.set(paramName, paramValue.toString())
  } else {
    url.searchParams.delete(paramName)
  }

  history.pushState({}, '', url.toString())
}

const handleSliderRelease = () => {
  const url = new URL(window.location.href)
  
  for (const key in keyMap) {
    const urlKey = keyMap[key as keyof typeof keyMap]
    const value = query.value[key]
    
    if (value !== null && value !== undefined) {
      url.searchParams.set(urlKey, value.toString())
    } else {
      url.searchParams.delete(urlKey)
    }
  }

  history.pushState({}, '', url.toString())
  emit('queryChanged', query.value)
}

const handleCategoryClick = (categoryId: number | null | undefined) => {
  if (typeof categoryId === 'number') {
    if (query.value.categoryId === categoryId) {
      query.value.categoryId = null
      updateURLParameter('categoryId', '')
    } else {
      query.value.categoryId = categoryId
      updateURLParameter('categoryId', categoryId)
    }
    emit('queryChanged', query.value)
  }
}

const { data: categories } = await useAsyncData<ICategory[]>('categories', () => categoryApi.getAll())
onMounted(() => {
  if (route.query.categoryId) query.value.categoryId = Number(route.query.categoryId)
  if (typeof route.query.minPrice === 'string') query.value.min = parseInt(route.query.minPrice)
  if (typeof route.query.maxPrice === 'string') query.value.max = parseInt(route.query.maxPrice)
})

</script>

<style lang="scss">
.shop-sidebar {
  .range {
    .price-range {
      display: flex;
      align-items: baseline;

      input {
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 0;
        margin: 0;
        width: 80px;
        background: rgba(0,0,0,0);
        font-size: 16px;
        line-height: 1.5;
        appearance: textfield;
        border-radius: 0;
        &:focus {
          outline: none;
          border-color: #79bae7;
        }
      }

      /* Отступы между инпутами */
      input + input {
        margin-left: 10px;
      }
    }
  }
}
</style>