<template>
  <div class="single-product">
    <div class="row">
      <div class="col-lg-3">
        <div class="product-img">
          <NuxtLink :to="product.slug">
            <img
              class="product-img"
              :src="product.image?.url"
              alt="#"
            />
          </NuxtLink>
          <div class="button-head">
            <div class="product-action">
              <NuxtLink to="/">
                <i class="far fa-heart"></i>
                <span>В избранное</span>
              </NuxtLink>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="product-content">
          <h3><NuxtLink to="/">{{ product.name }}</NuxtLink></h3>

          <p class="my-2 description">
            {{ product.description }}
          </p>
          <div class="d-flex justify-content-between">
            <div class="product-price">
              <span>{{product.price}}₽</span>
            </div>
            <button class="product-cart-btn" type="button">
              <i class="fal fa-shopping-cart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { IProduct } from '@/models'

const props = defineProps({
  product: {
    type: Object as () => IProduct,
    required: true,
  },
})
</script>

<style scoped lang="scss">
.single-product {
  .description {
    min-height: 68px;
  }
}
</style>