<template>
  <div class="shop-top">
    <div class="row items-center">
      <div class="col-lg-5 filter-single">
        <div class="filter-content">
          <div class="my-auto filter-title">Цена по:</div>
          <select v-model="query.sort" @change="query.sort && handleSortClick(query.sort)">
            <option value="low-price">Возрастанию</option>
            <option value="high-price">Убыванию</option>
          </select>
        </div>
      </div>
      
      <div class="col-lg-2 filter-single q-ml-auto">
        <ul class="view-mode">
          <li 
            :class="{active: catalogView === 'column'}"
            @click="changeView('column')"
          >
            <NuxtLink>
              <i class="fal fa-th-large"></i>
            </NuxtLink>
          </li>
          <li 
            :class="{active: catalogView === 'row'}"
            @click="changeView('row')"
          >
            <NuxtLink>
              <i class="fal fa-th-list"></i>
            </NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Ref, ref, onMounted, watch } from 'vue'
import { useQueryStore } from '@/store/query'
import { IQuery } from '@/models'
import { useRoute } from 'vue-router'

const emit = defineEmits(['queryChanged'])
const route = useRoute()

const query: Ref<IQuery> = ref({
  sort: "high-price"
})

const updateURLParameter = (paramName: string, paramValue: any) => {
  let url = new URL(window.location.href)

  if (paramValue) {
    url.searchParams.set(paramName, paramValue.toString())
  } else {
    url.searchParams.delete(paramName)
  }

  history.pushState({}, '', url.toString())
}
const handleSortClick = (sort: string) => {
  if (sort) {
    query.value.sort = sort
    updateURLParameter('sort', sort)
    emit('queryChanged', query.value)
  }
}

const queryStore = useQueryStore()
const changeView = (newView: string) => {
  queryStore.changeCatalogView(newView)
}
const catalogView = ref()
watch(() => queryStore.catalogView, (newVal) => {
  catalogView.value = newVal
})
onMounted(() => {
  catalogView.value = queryStore.catalogView
  if (typeof route.query.sort === 'string') query.value.sort = route.query.sort
})
</script>